/SoluctionVirtualVanets/SVVCommon/build/
/SoluctionVirtualVanets/SVVCommon/dist/
/SoluctionVirtualVanets/SVVInfraCloud-ejb/build/
/SoluctionVirtualVanets/SVVInfraCloud-ejb/dist/
/SoluctionVirtualVanets/SVVInfraCloud-IMPL/build/
/SoluctionVirtualVanets/SVVInfraCloud-IMPL/dist/
/SoluctionVirtualVanets/build/
/SoluctionVirtualVanets/SVVSecutiry/build/
/SoluctionVirtualVanets/SVVVehicleCloud-ejb/build/
/SoluctionVirtualVanets/SVVRoutingAlgorithm/build/
/SoluctionVirtualVanets/SVVVehicleCloud-ejb/dist/
/SoluctionVirtualVanets/SVVSecutiry/dist/
/SoluctionVirtualVanets/SVVModelApp/build/
/SoluctionVirtualVanets/SVVInfraVehicleCommon/build/
/SoluctionVirtualVanets/SVVServerManager/build/
/SoluctionVirtualVanets/SVVRoutingAlgorithm/dist/
/SoluctionVirtualVanets/SVVServerManager/dist/
/SoluctionVirtualVanets/SVVModelApp/dist/
/SoluctionVirtualVanets/SVVInfraVehicleCommon/dist/
/SoluctionVirtualVanets/SVVVehicleCloud-IMPL/build/
/SoluctionVirtualVanets/SVVVehicleCloud-IMPL/dist/
/SoluctionVirtualVanets/SoluctionVirtualVanets-war/build/
/SoluctionVirtualVanets/SoluctionVirtualVanets-war/dist/